<div class="row">
  <div class="col-md-4">
    <img src="{{product.images[0]}}" alt="" height="100%" width="auto" class="img-responsive">
  </div>
  <div class="col-md-8" style="border: thin">
    <table class="table">
      <tr>
        <td>
          <h2> <span class="label label-info">{{product.name}}</span></h2>
        </td>
      </tr>
      <tr>
        <td>
          {{product.description}}
        </td>
      </tr>
      <tr>
        <td>
          <h3><span class="label label-default">{{product.price | currency:'EUR':true:'2.2-2'}}</span></h3>
        </td>
      </tr>
      <tr>
        <td>
          <label>Pick Rental Period</label>
          <form novalidate (ngSubmit) = "onSubmit(purchaseOrder)" [formGroup]="purchaseOrder">
            <div class="form-group" formGroupName="rentalPeriod">
              <div class="col-md-6">
                Start date: <my-date-picker name="startDate" [options]="dateOptions" formControlName="startDate"></my-date-picker>
              </div>
              <div class="col-md-6">
                End date: <my-date-picker name="endDate" [options]="dateOptions" formControlName="endDate"></my-date-picker>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-success">
            </div>
            {{purchaseOrder.value | json }}
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">

</div>
<button (click)="goBack()"> Back </button>
