<div class="panel panel-default">
  <div class="panel panel-heading">
    <legend class="panel-title">Categories</legend>
  </div>
  <div class="panel-body">
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
        <!--<button class="btn btn-success" type="button">-->
          <!--&lt;!&ndash;<span class="glyphicon glyphicon-search" aria-hidden="true"></span>&ndash;&gt;-->
          <!--</button>-->
      </span>
      </div>

      <div class="form-group">
        <h5>Locations</h5>

      </div>

      <div class="form-group">
        <h5>Computers</h5>

      </div>
      <div class="form-group">
        <h5>Toys</h5>

      </div>
      <div class="form-group">
        <h5>IT</h5>

      </div>
      <div class="form-group">
        <h5>Home</h5>

      </div>
      <div class="form-group">
        <h5>Video game</h5>

      </div>


      <button class="btn btn-success">
        Search
      </button>
    </form>

  </div>
</div>
